*{
    box-sizing: border-box;
}
body{
    font-family: "poppins";
    padding: 25px;
    color: #333;
}

li{
    margin-bottom: 6px;
}

img{
    display: block;
    margin: 0 auto;
    border-radius: 12px;
}